node_modules
.nuxt
.output
.data
.nitro
.cache
dist
.git
.github
.gitignore
.idea
.vscode
.claude
*.log
*.md
tests
**/*.test.ts
**/*.spec.ts
eslint.config.*
.editorconfig
.prettierrc*
docker-compose*.yml
Dockerfile*
.dockerignore
.env
.env.*
