# Base de données
DATABASE_URL="postgresql://turbul:turbul@localhost:5432/turbul_booking?schema=public"

# better-auth
BETTER_AUTH_SECRET="change-me-with-a-long-random-string"
BETTER_AUTH_URL="http://localhost:3000"

# App
NUXT_PUBLIC_APP_URL="http://localhost:3000"

# Coordonnées par défaut du plan
# École de Cirque Turbul' — 68 chemin de Campagnole, 30900 Nîmes
NUXT_PUBLIC_MAP_DEFAULT_LAT="43.7828848"
NUXT_PUBLIC_MAP_DEFAULT_LNG="4.3543537"
NUXT_PUBLIC_MAP_DEFAULT_ZOOM="19"
