@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-turbul-50:  #fdf4ee;
  --color-turbul-100: #fbdbc4;
  --color-turbul-200: #f6c0a0;
  --color-turbul-300: #efa078;
  --color-turbul-400: #df8055;
  --color-turbul-500: #cb6743;
  --color-turbul-600: #b65838;
  --color-turbul-700: #964530;
  --color-turbul-800: #79392a;
  --color-turbul-900: #623024;
  --color-turbul-950: #341812;
}

:root {
  --brand-heading: #961916;
}
.dark {
  --brand-heading: var(--color-turbul-200);
}

h1, h2, h3 {
  color: var(--brand-heading);
}
